<div>
  <table>
      <tr>
        <th>Country</th>
        <th>Population</th>
        <th>Flag</th>
        <th>Capital</th>
        <th><a href="http://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)">GDP (PPP)</a></th>
      </tr>
      <tr *ng-for="#country of countries">
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
        <td><img src="{{country.flagURL}}" width="100"></td>
        <td>{{country.capital}}</td>
        <!-- currency: currencyCode: useSymbol: digits after decimal range -->
        <td>{{country.gdp | currency: 'USD': true: '.2-2'}}</td>
      </tr>
    </table>
</div>
